@import "tailwindcss";
body {
  background-color: var(--color-body);
}

@theme {
  --color-body: #f5f5f5;
  --color-background: #ffffff;
  --color-icon: #4b4b4b;
  --color-content: #4b4b4b;
  --color-lightGray: #cbcbcb;
  --color-secondary: #4f39f6;
  --color-primary: #101828;
  --color-success: #1fc16b;
}

.dark {
  --color-body: #141414;
  --color-background: #000000;
  --color-icon: #ece7e7;
  --color-content: #ece7e7;
  --color-lightGray: #313131;
  --color-secondary: #4f39f6;
  --color-primary: #101828;
  --color-success: #1fc16b;
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
}